body { background: #a16773; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 28px; display: flex; }
.block-logger-0 { color: #2993de; font-size: 15px; margin-bottom: 5px; }
.block-sms-1 { color: #b91eeb; font-size: 13px; margin-bottom: 5px; }
.block-payment-2 { color: #3f43b3; font-size: 20px; margin-bottom: 5px; }
.block-config-3 { color: #4b3614; font-size: 12px; margin-bottom: 5px; }
.block-sms-4 { color: #b7e8f3; font-size: 20px; margin-bottom: 5px; }